---
import EditorTable from "../components/EditorTable.vue";
---

<!doctype html>
<html lang="zh_cn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editor</title>
    </head>
    <body>
        {/* TODO 修改为正确的页面样式、渲染等 */}
        <EditorTable client:only />
    </body>
</html>
